<h3>Ajouter un chevalier</h3>
<div [hidden]="envoi" style="width:400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Prénom</label>
      <input type="text" class="form-control" id="prenom" required [(ngModel)]="chevalier.prenom" name="prenom">
    </div>
    <div class="form-group">
      <label for="name">Rôle</label>
      <input type="text" class="form-control" id="role" required [(ngModel)]="chevalier.role" name="role">
    </div>
    <button type="submit" class = "btn btn-success" >Envoi</button>
  </form>
</div>
<div [hidden]="!envoi">
  <h4>Vous avez envoyé avec succès !</h4>
</div>
